.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  min-height: 100vh;

  @media (max-width: 425px) {
    padding: 1rem 1rem; 
  }
}
